{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProduct</th>
                <th>Reference</th>
                <th>Description</th>
                <th>PriceTaxIncl</th>
                <th>PriceTaxExcl</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.idProduct }}</td>
                <td>{{ article.reference }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.priceTaxIncl }}</td>
                <td>{{ article.priceTaxExcl }}</td>
                <td>{{ article.quantity }}</td>
                <td>
                    <a href="{{ path('article_show', {'idProduct': article.idProduct}) }}">show</a>
                    <a href="{{ path('article_edit', {'idProduct': article.idProduct}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
